.navBar{
    top: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    

    .leftSide{
        height: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .rightSide{
        height: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
    }
}